{% extends "base.html" %}
{% block content %}
<section>
    <div class="container">
        <h2>Games</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Home Team</th>
                    <th>Away Team</th>
                    <th>Score</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for game in games %}
                <tr>
                    <td>{{ game.id }}</td>
                    <td>{{ game.home }}</td>
                    <td>{{ game.away }}</td>
                    <td>{{ game.score }}</td>
                    <td>{{ game.date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}
